In [71]:
import pandas as pd
import numpy as np
pd.set_option('display.max_columns', None)
# import warnings
# warnings.filterwarnings('ignore')
import matplotlib.pyplot as plt
import seaborn as sns
import scipy.stats as st

In [72]:
data = pd.read_csv('files_for_lab/machine.txt', encoding='UTF-16', sep='\t')
data.head()

   New machine      Old machine
0         42.1             42.7
1         41.0             43.6
2         41.3             43.8
3         41.8             43.3
4         42.4             42.5

In [83]:
data.columns = ['new_machine', 'old_machine']

In [84]:
data.shape

(10, 2)

In [85]:
# H0>= New machine better than old; H1< old better. Significance level= 5%;

In [86]:
st.ttest_rel(data["new_machine"], data["old_machine"])

Ttest_relResult(statistic=-3.0614273841115844, pvalue=0.013540335651632521)

In [ ]:
#We reject the null hypothesis. p_value < 0.05. Old machine perform better.

In [ ]:
#2

In [89]:
pokemon = pd.read_csv('files_for_lab/pokemon.csv')
pokemon.head()

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False

In [90]:
#Our goal is to see whether there is a significant difference between each Pokemon's defense and attack scores. 
#Our hypothesis is that the defense and attack scores are equal. Compare the two columns to see if there is a statistically 
#significant difference between them and comment your result.

In [91]:
#H0: att=def
#H1: att â‰  def

In [93]:
st.ttest_rel(pokemon["Attack"], pokemon["Defense"])

Ttest_relResult(statistic=4.325566393330478, pvalue=1.7140303479358558e-05)

In [ ]:
#we accept H0 since pvalue is bigger, so attack and defense are equal.

In [ ]:
#OPTIONAL PART | Inferential statistics - ANOVA

In [ ]:
#1

In [94]:
anovadf = pd.read_excel('files_for_lab/anova_lab_data.xlsx')
anovadf.head()

  Power   Etching Rate
0  160 W          5.43
1  180 W          6.24
2  200 W          8.79
3  160 W          5.71
4  180 W          6.71

State the null hypothesis, State the alternate hypothesis, What is the significance level, What are the degrees of freedom 
of model, error terms, and total DoF

H0: same power level have the same mean for etching rate
H1: same power level donÂ´t have the same mean for etching rate
significance level= 0.95/ confidence level: 0.05
degree of freedom:
between= k-1 -> 3-1=2
within=n-k ->5-3=2
total=N-1->5-1=4
error terms:

In [109]:
anovadf.columns = ['power', 'etching_rate']

In [110]:
listan=anovadf['power'].unique()
listan

array(['160 W', '180 W', '200 W'], dtype=object)

In [116]:
#n
anovadf.groupby(['power']).count()

       etching_rate
power
160 W             5
180 W             5
200 W             5

In [113]:
listan2=anovadf['power']
listan2

0     160 W
1     180 W
2     200 W
3     160 W
4     180 W
5     200 W
6     160 W
7     180 W
8     200 W
9     160 W
10    180 W
11    200 W
12    160 W
13    180 W
14    200 W
Name: power, dtype: object

In [114]:
len(listan2)

15

In [117]:
anovadf

    power  etching_rate
0   160 W          5.43
1   180 W          6.24
2   200 W          8.79
3   160 W          5.71
4   180 W          6.71
5   200 W          9.20
6   160 W          6.22
7   180 W          5.98
8   200 W          7.90
9   160 W          6.01
10  180 W          5.66
11  200 W          8.15
12  160 W          5.59
13  180 W          6.60
14  200 W          7.55

In [121]:
anovadf['power_count'] = anovadf.groupby('power').cumcount()
anovadf_pivot = anovadf.pivot(index='power_count', columns='power', values='etching_rate')
anovadf_pivot.columns = ['power_'+str(x) for x in anovadf_pivot.columns.values]
anovadf_pivot.head()

             power_160 W  power_180 W  power_200 W
power_count
0                   5.43         6.24         8.79
1                   5.71         6.71         9.20
2                   6.22         5.98         7.90
3                   6.01         5.66         8.15
4                   5.59         6.60         7.55

In [122]:
anovadf_pivot.columns = ['power_160W', 'power_180W', 'power_200W']
anovadf_pivot

             power_160W  power_180W  power_200W
power_count
0                  5.43        6.24        8.79
1                  5.71        6.71        9.20
2                  6.22        5.98        7.90
3                  6.01        5.66        8.15
4                  5.59        6.60        7.55

In [119]:
anovadf_pivot.mean()

power_160 W    5.792
power_180 W    6.238
power_200 W    8.318
dtype: float64

In [123]:
st.f_oneway(anovadf_pivot.power_160W,anovadf_pivot.power_180W,anovadf_pivot.power_200W)

F_onewayResult(statistic=36.87895470100505, pvalue=7.506584272358903e-06)

In [ ]:
## p value<stat, so we reject H0, so same power level donÂ´t have the same mean for etching rate